# OS
.DS_Store
Thumbs.db

# Env
.env

# Node
node_modules/
frontend/web/dist/
frontend/mobile/.expo/

# Java
**/target/
**/.idea/
**/*.iml

# Logs
*.log

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*

# VS Code
.vscode/
frontend/web/*.tsbuildinfo
